# reWriteBatchedInserts=true makes batch inserts much faster (multi-row statements)
DATASOURCE_URL=jdbc:postgresql://localhost:5432/your-database-name?reWriteBatchedInserts=true
DATASOURCE_USERNAME=your-database-username
DATASOURCE_PASSWORD=your-database-password
# optional, defaults to 20
DATASOURCE_POOL_SIZE=20

